<div class="form-group">
    <label for="categoryDropdown">Category of the report</label>
  <!--  <kendo-dropdownlist
      id="categoryDropdown"
      [data]="categories"
      [value]="selectedCategory"
      (valueChange)="onCategoryChange($event)"
      [defaultItem]="defaultCategory"
      [required]="true"
      [formControl]="categoryControl"
      class="rt_details_ScheduleType"
    >
    </kendo-dropdownlist> -->
    <div *ngIf="categoryControl.invalid && (categoryControl.dirty || categoryControl.touched)" class="error">
      <div *ngIf="categoryControl.errors?.['required']">
        Category is required.
      </div>
    </div>
  </div>
  
