<div class="schedule-type-container">
    <form [formGroup]="scheduleTypeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="scheduleType">Schedule Type</label>
        <!-- <input
          type="text"
          id="scheduleType"
          formControlName="scheduleType"
          class="form-control"
          placeholder="Enter Schedule Type"
        />
        -->
          
          <select id="scheduleType" formControlName="scheduleType" class="form-control">
            <option *ngFor="let type of scheduleTypes" [value]="type.value">{{ type.label }}</option>
          </select>
         
        


        <div *ngIf="scheduleTypeForm.controls['scheduleType']?.invalid && scheduleTypeForm.controls['scheduleType']?.touched" class="error">
          Schedule Type is required.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>